@*{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<section>
<form id="contact-form" class="col-sm-7 scrollimation fade-left" action="contact.php" method="post" novalidate>
    @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    <div class="form-group">
        <label class="control-label" for="contact-name">Karen McKinney</label>
        <div class="controls">
            <i class="icon-user"></i>
            <input id="contact-name" name="contactName" placeholder="My name is..." class="form-control input-lg requiredField" type="text" data-error-empty="Please enter your name">
        </div>
    </div><!-- End name input -->

    <div class="form-group">
        <label class="control-label" for="contact-mail">karlyn194@aol.com</label>
        <div class=" controls">
            <i class="icon-envelope"></i>
            <input id="contact-mail" name="email" placeholder="Please respond at..." class="form-control input-lg requiredField" type="email" data-error-empty="Please enter your email" data-error-invalid="Invalid email address">
        </div>
    </div><!-- End email input -->
    <!--<div class="form-group">
      <label class="control-label" for="contact-message">Message</label>
        <div class="controls">
            <i class="icon-comment"></i>
            <textarea id="contact-message" name="comments"  placeholder="I wanna talk about..." class="form-control input-lg requiredField" rows="5" data-error-empty="Please enter your message"></textarea>
        </div>
    </div><!-- End textarea -->

    <p><button name="submit" type="submit" class="btn btn-theme btn-lg" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Message Sent"><i class="icon-location-arrow"></i>Send Message</button></p>
    <input type="hidden" name="submitted" id="submitted" value="true" />
    }
</form><!-- End contact-form -->
                </div><!-- End row -->
            </div><!-- End container -->
    </section><!-- End contact section -->

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>